<h1>register</h1>
<div class="form">

<form action="" method='POST'>
{%csrf_token%}
<label for="fname"> Name: </label> 
    <input type="text" placeholder="Enter your  name" name= 'fname'>
<br>
<label for="fname"> Email: </label> 
    <input type="email" placeholder="Enter your  email" name= 'email'>
<br>
<label for="fname">Password:</label>
<input type="Password" placeholder="Create a Password" name= "pass_word">

<button type="submit">submit</button>
<p><a href="{%url 'login-page'%}">Already have an account?</a></p>
</form>
</div>